Sharp.Migrations/obj/*
Sharp.Tests.Chinook/obj/*
Sharp.Migrations.Template/obj/*
Sharp.Tests.Databases/obj/
Sharp.Tests.Northwind/obj/
Sharp.Tests.ReversableMigrations/obj/Debug/Sharp.Tests.ReversableMigrations.csproj.FileListAbsolute.txt
Sharp.Tests.ReversableMigrations/obj/
packages/
Sharp.Data/obj/
Sharp.Tests/obj/
SharpMigrator/obj/
Sharp.Tests.Nlog/obj/
Sharp.Tests.Databases/bin/
Sharp.Tests/bin/Debug/SharpMigrator.exe.config
Sharp.Tests.Chinook/bin/
Sharp.Tests.Northwind/bin/
Sharp.Tests.ReversableMigrations/bin/
SharpMigrator.Tests/obj/
SharpMigrations/obj/
SharpMigrations.Tests/obj/
SharpMigrations.Tests/bin/
SharpMigrator.Tests/bin/
SharpMigrations/bin/
SharpMigrator/bin/Release/EntityFramework.xml
SharpMigrator/bin/
