<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="sharp.data" type="Sharp.Data.Config.DataConfigurationHandler,Sharp.Data"/>
  </configSections>

  <connectionStrings>
    <add name="Oracle" connectionString="Data Source=XE; User Id=sharp; Password=sharp;" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>

  <sharp.data>
    <defaultSettings DefaultConnectionString="Oracle" DefaultProvider="OracleClient"/>
  </sharp.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
