<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="sharp.data" type="Sharp.Data.Config.DataConfigurationHandler,Sharp.Data"/>
  </configSections>

  <connectionStrings>
    <add name="Oracle" connectionString="Data Source=XE; User Id=sharp; Password=sharp;"/>
  </connectionStrings>

  <sharp.data>
    <defaultSettings DefaultConnectionString="Oracle" DefaultProvider="OracleClient"/>
  </sharp.data>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
