<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="Oracle.ManagedDataAccess.Client" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=//localhost:1521/XE; User Id=sharp; Password=sharp;"/>
    <add name="Oracle.DataAccess.Client" providerName="Oracle.DataAccess.Client" connectionString="Data Source=//localhost/XE; User Id=sharp; Password=sharp;"/>
    <add name="System.Data.SqlClient" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\mssqllocaldb;Database=sharp;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add name="System.Data.SQLite" providerName="System.Data.SQLite" connectionString="Data Source=sharp.db3;"/>
    <add name="MySql.Data.MySqlClient" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=sharp;Uid=sharp;Pwd=sharp;"/>
    <add name="Npgsql" providerName="Npgsql" connectionString="User ID=sharp;Password=sharp;Host=localhost;Port=5432;Database=sharp;"/>
  </connectionStrings>
</configuration>
