<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="Oracle.ManagedDataAccess.Client" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=//localhost:1521/XE; User Id=sharp; Password=sharp;"/>
    <add name="Oracle.DataAccess.Client" providerName="Oracle.DataAccess.Client" connectionString="Data Source=//localhost/XE; User Id=sharp; Password=sharp;"/>
    <add name="System.Data.SqlClient" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=sharp;Integrated Security=True"/>
    <add name="System.Data.SQLite" providerName="System.Data.SQLite" connectionString="Data Source=sharp.db3;"/>
    <add name="MySql.Data.MySqlClient" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=sharp;Uid=sharp;Pwd=sharp;"/>
    <add name="Npgsql" providerName="Npgsql" connectionString="User ID=sharp;Password=sharp;Host=localhost;Port=5432;Database=sharp;"/>
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.2.5.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
