<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="Oracle.ManagedDataAccess.Client" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=//localhost:1521/XE; User Id=sharp; Password=sharp;"/>
    <add name="Oracle.DataAccess.Client" providerName="Oracle.DataAccess.Client" connectionString="Data Source=//localhost/XE; User Id=sharp; Password=sharp;"/>
    <add name="System.Data.SqlClient" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=sharp;Integrated Security=True"/>
    <add name="System.Data.SQLite" providerName="System.Data.SQLite" connectionString="Data Source=sharp.db3;"/>
    <add name="MySql.Data.MySqlClient" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=sharp;Uid=sharp;Pwd=sharp;"/>
  </connectionStrings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
